// Fonts
@font-face {
  font-family: 'CopperHewitt-BoldItalic';
  src: url('./Fonts/cooper-hewitt/CooperHewitt-BoldItalic.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
// HTML CSS 
html,
body{
  margin:0 auto;
}

// Navbar CSS

.Visvine-Nav-Banner{
  display:flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 1px 8px #78D870 ;
  height: 8vh;
}
.Visvine-Title{
  margin-left: 25px;
  background: linear-gradient(to right, #78d870, #00BF63);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'CopperHewitt-BoldItalic';
  font-size: 4vh;
  margin-top: 2vh;
  margin-bottom: auto;
} 

#button-div{
  margin-top:auto;
  margin-bottom:auto;
  display: flex;
}

.Nav-links{
  font-family: "Open Sans", sans-serif;
  margin-left: 1vw;
  margin-right: 1vw;
  color: #78d870;
  text-decoration: underline;
  background-color: white;
  border-style: none;
  cursor:pointer;
}
.Nav-links:Hover{
  color: #00BF63;
}


.button, 
#Sign-in-out{
  background-color: #78D870;
  color: white;
  height: 5vh;
  width: 8vw;
  border: none;
  border-radius: 8px;
  margin-right: 2vw;
  margin-left: 1vw;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: medium;
  position: relative; 
  overflow:hidden;
  transition: 0.5s;
  cursor:pointer;
}
.button, 
#Sign-in-out:hover{
  transform: scale(1.1);
  cursor:pointer;
}

.button, 
#Sign-in-out::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: #fff;
  opacity: 0.5; 
  transform: skewX(45deg) translateX(160px);
  transition: 0.45s;
  cursor:pointer;
}

.button:hover::before, 
#Sign-in-out:hover::before {
  transform: skewX(45deg) translateX(-150px);
  cursor:pointer;
}

// Detect component styling
#camera {
  position: relative;
  width: 1072px;
  height: 603px;
  margin:0;
  padding: 0;
  margin: 20px auto;
  border: #78d870;
  border-width: 8px;
  border-style: solid;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

#captured-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#button-container {
  display: flex;
  justify-content: center;
}
.circular-button {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: #78d870;
  border-width: 8.5px;
  box-shadow: 0px 4px 11px -6px;
  margin-top: 15px;
}
.title-container{
  margin-top: 2vh;
  display:flex;
  justify-content: center;
}
.product-title{
  font-family: "Open Sans", sans-serif;
  color:#00BF63
}

.detection-results {
  position: relative;
  margin-top:8.5vh;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 4px solid #78d870;
}

.detection-result {
  margin-bottom: 8px;
}

.class-name {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  padding-top: 5px;
  padding-bottom: 5px;
  color:#00BF63;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.confidence {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: larger;
  padding-top: 5px;
  padding-bottom: 5px;
  color:#00BF63;
}

.bounding-box {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: larger;
  padding-top: 5px;
  padding-bottom: 5px;
  color:#00BF63;
}